<h1>Hello</h1>
<div>
  <h2>What do you want to do today?</h2>
</div>
<div>
  <a href="<%= Routes.user_path(@conn, :new) %>" class="button">Register</a>
  <a href="<%= Routes.user_path(@conn, :show) %>" class="button">Login</a>
  <a href="<%= Routes.reset_path(@conn, :index) %>" class="button">Reset password</a>
</div>
