<h1>New user</h1>
<form action="/user" method="post">
  <div class="form-group">
    <input type="hidden" name="_csrf_token" value="<%= @csrf %>">

    <label for=="user[email]">Email</label>
    <input type="email" name="user[email]" class="form-control" />

    <label for=="user[password]">Password</label>
    <input type="password" name="user[password]" class="form-control" />

    <label for=="user[password_confirmation]">Confirm password</label>
    <input type="password" name="user[password_confirmation]" class="form-control" />

  </div>
  <button type="submit" class="btn btn-primary">Save</button>
  <div>
    <a href="/">Cancel</a>
  </div>
</form>
