<h1>Password recovery</h1>
  <form action="/reset" method="post">
    <div class="form-group">
      <input type="hidden" name="_csrf_token" value="<%= @csrf %>">

      <label for="user[email]">We'll send you instructions by email</label>
      <input type="email" name="user[email]" placeholder="your@company.domain" class="form-control">

    </div>
    <button type="submit" class="btn btn-primary">Reset Password</button>
    <div>
      <a href="/">Cancel</a>
    </div>
  </form>
</div>
