<h1>Reset Password</h1>
<form action="<%= ~s(/reset/) <> @reset_token %>" method="post">
  <div class="form-group">
    <input type="hidden" name="_csrf_token" value="<%= @csrf %>">

    <label for=="user[email]">Email</label>
    <input type="email" name="user[email]" class="form-control" value="<%= @email %>" readonly style="border: 0px;"/>

    <label for=="user[password]">New Password</label>
    <input type="password" name="user[password]" class="form-control" />

    <label for=="user[password_confirmation]">Confirm password</label>
    <input type="password" name="user[password_confirmation]" class="form-control" />

  </div>
  <button type="submit" class="btn btn-primary">Change Password</button>
</form>
