Someone requested a new password for your account on my Password Reset app.

You can reset your password by clicking the link below:
<%= @url %>

If you did not request a new password, please let us know immediately by replying to this email.

